//Import part
@import "parts/reset";
@import "parts/mixin";
@import "parts/variable";
@import "parts/base";

//Import module
@import "modules/header";
@import "modules/footer";

//about-box
.about-box {
  @include sectionCustom(150px, 0);
  padding-left: 70px;
  background: url("../image/img-1.png") no-repeat;
  background-size: 100% 100%;
  .about-box--subtitle {
    display: flex;
    align-items: center;
    span {
      &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        background-color: #feaa25;
        position: relative;
        z-index: 1;
      }
      &:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 37px;
        background-color: #e2eaed;
        margin-left: -18.5px;
        padding: 0 46px 0 30px;
        border-radius: 0 99px 99px 0;
      }
    }
  }
  h1 {
    font-size: 3.75rem;
    line-height: 1.25;
  }
  .about-box__btn {
    margin-top: 40px;
    .btn-link {
      color: $buttonColor;
      margin-left: 28px;
      @media screen and (max-width: 1200px) {
        margin-left: 5px;
      }
    }
    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 1200px) {
    padding: 15px;
    margin-top: 100px;
    background: none;
  }
}

.partner-box {
  @include section;
  p {
    text-align: center;
    color: $primaryColor;
  }
  .partner-box__lists {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .partner-box--item {
      margin: 0 34px;
      @media screen and (max-width: 768px) {
        margin: 0 10px;
        flex-basis: calc(100% / 3 - 20px);
        max-width: calc(100% / 3 - 20px);
      }
    }
  }
}

.features-box {
  @include section;
  .features-box__img {
    img {
      margin-left: -50px;
      @media screen and (max-width: 1200px){
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
  .features-box__inner {
    max-width: 75%;
    h2 {
      font-size: 2.25rem;
      
    }
    h2,p{
      @media screen and (max-width: 1200px){
        text-align: center;
      }
    }
    .features-box__lists {
      padding-top: 75px;
  
      .features-box__item {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        img {
          flex-basis: 88px;
          max-width: 88px;
          height: 88px;
          margin-right: 32px;
        }
        h4 {
          font-size: 1.25rem;
          padding: 0;
        }
        p {
          text-align: justify;
        }
        &.red {
          h4 {
            color: $redColor;
          }
        }
        &.blue {
          h4 {
            color: $bluColor;
          }
        }
        &.green {
          h4 {
            color: $greenColor;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 1200px){
      max-width: 100%;
    }
  }
  .row{
    >*:first-child{
      @media screen and (max-width: 1200px){
        order:2;
      }
    }
    >*:last-child{
      @media screen and (max-width: 1200px){
        order:1;
      }
    }
  }
}
.addition-box {
  .addtion-box_inner {
    @include center(80%);
    &.features-box__inner {
      max-width: 80%;
      @media screen and (max-width: 1200px){
        max-width: 100%;
      }
    }
    .addition-box--title {
      border-right: 1px solid #b9b9b8;
      font-size: 2.1rem;
      padding-right: 60px;
      @media screen and (max-width: 992px){
        border:none;
        padding: 0;
      }
    }
    .addition-box--desc {
      margin-left: 60px;
      @media screen and (max-width: 1200px){
        margin-left: 0;
      }
    }
    .addition-box__lists {
      padding: 40px 0;
      .addition-box--item {
        display: block;
        max-width: 90%;
        @media screen and (max-width: 1200px){
          max-width: 100%;
          text-align: center;
        }
        img{
          @media screen and (max-width: 1200px){
            margin: 0;
          }
        }
      }
    }
    .row{
      >*:first-child{
        @media screen and (max-width: 1200px){
          order:1;
        }
      }
      >*:last-child{
        @media screen and (max-width: 1200px){
          order:2;
        }
      }
    }
  }
}

.design-box {
  @include section;
  .design-box__img {
    img {
      margin-left: -20px;
      @media screen and (max-width: 1200px){
        margin-left: 0;
      }
    }
  }
  .design-box__inner {
    max-width: 80%;
    margin-left: 30px;
    // padding: 30px;
    h2 {
      font-size: 2.25rem;
    }
    p {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 1200px){
      max-width: 100%;
      margin-left: 0;
    }
  }
}

//whyus-box
.whyus-box {
  @include section;
  border-top: 1px solid #f4f4f4;
  padding-bottom: 0;
  .whyus-box__title {
    h2,
    p {
      text-align: center;
    }
    h2 {
      font-size: 2.25rem;
    }
  }
  .whyus-box_lists {
    margin-top: 60px;
    .whyus-box__item {
      text-align: center;
      padding: 0 30px 40px 30px;

      h3 {
        font-size: 1.25rem;
        margin-top: 15px;
      }
    }
  }
}

//ultimate-box
.ultimate-box {
  @include section;
  .ultimate-box__title {
    h2 {
      font-size: 2.25rem;
      @media screen and (max-width: 1200px){
        text-align: center;
      }
    }
  }
  .ultimate-box__lists {
    margin-bottom: 60px;
    .ultimate-box__item {
      h3 {
        font-size: 1.25rem;
      }
      @media screen and (max-width: 1200px){
        text-align: center;
      }
    }
  }
  img {
    margin-top: 50px;
  }
  .ultimate-box__button{
    @media screen and (max-width: 1200px){
      text-align: center;
    }
  }
}

//pricing-box
.pricing-box {
  @include section;
  .pricing-box__title {
    text-align: center;
    h2 {
      font-size: 2.25rem;
    }
  }
  .pricing-box__inner {
    margin-top: 60px;
    .pricing-box--type {
      display: flex;
      justify-content: center;
      @include center(284px);
      border: 1px solid #ebebeb;
      border-radius: 99px;
      padding: 7px;
      span {
        display: block;
        border-radius: 99px;
        flex-basis: 50%;
        max-width: 50%;
        text-align: center;
        padding: 15px 0;
        cursor: pointer;
        &.active,
        &:hover {
          background: $buttonColor;
          color: #fff;
          font-weight: 700;
        }
      }
    }
    .pricing-box__backage {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 40px;
      flex-wrap: wrap;
      .package--item {
        margin: 0 20px;
        flex-basis: 25%;
        max-width: 25%;
        text-align: center;
        padding-bottom: 15px;
        box-shadow: 3px 5px 8px #f5f6f8;
        border-radius: 10px;
        &.features {
          box-shadow: none;
          border: 1px solid #ebebeb;
          .package--features {
            padding-bottom: 10px;
          }
        }
        .package--info {
          background: linear-gradient(
            180deg,
            rgba(254, 254, 255, 1) 0%,
            rgba(251, 252, 253, 1) 50%,
            rgba(244, 247, 249, 1) 100%
          );
          padding: 30px 0;
          h2 {
            font-size: 3.75rem;
            span {
              font-size: 1.125rem;
              color: #999ca5;
              font-weight: normal;
            }
          }
          h3 {
            font-size: 1.25rem;
            margin-bottom: 0;
          }
          p {
            color: #999ca5;
          }
        }
        .package--features {
          padding: 35px 10px;
          p {
            margin-bottom: 30px;
          }
          .pricing-box--order {
            margin-top: 50px;
            .btn--link {
              display: block;
              margin-top: 40px;
            }
          }
        }
        @media screen and (max-width: 768px){
          flex-basis: 40%;
          max-width: 40%;
          margin-top: 20px;
        }
        @media screen and (max-width: 576px){
          flex-basis: 100%;
          max-width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
}

//client-box
.client-box {
  @include section;
  border-top: 1px solid #f4f4f4;
  background: url("../image/img-5.png") no-repeat 0 150px;

  .client-box__title {
    margin-bottom: 40px;
    h2 {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 1200px){
      text-align: center;
    }
  }
  .client-box__inner {
    .client-box--stars {
      color: #ffcc00;
      font-size: 1.43rem;
    }
    h3 {
      font-size: 1.25rem;
    }
    .client-box--customer {
      margin-top: 50px;
      .customer__info {
        display: flex;
        align-items: center;
        img {
          margin-right: 20px;
        }
        span {
          p {
            &:first-child {
              color: $primaryColor;
              font-size: 1.125rem;
              font-weight: bold;
            }
          }
        }
      }
    }
    .testimonial__nav {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
      span {
        width: 50px;
        height: 50px;
        display: block;
        background-color: #eff3f8;
        border-radius: 50%;
        margin-left: 20px;
        cursor: pointer;
        &:first-child {
          position: relative;
          &::after {
            content: "";
            height: 25px;
            width: 1px;
            position: absolute;
            background-color: #e7e7e7;
            display: block;
            top: 15px;
            right: -10px;
            bottom: 0;
          }
        }
        &.next {
          background: url("../image/arrow.png") no-repeat;
        }
        &.disabled {
          background: url("../image/prev-icon.png") no-repeat;
        }
      }
      @media screen and (max-width: 768px){
        justify-content: center;
        margin-top: 15px;
        align-items: center;
      }
    }
  }
  @media screen and (max-width: 768px){
    background: none;
  }
  @media screen and (max-width: 992px){
    background-size: 50%;
  }
}

//faqs-box
.faqs-box {
  @include section;
  .faqs-box__inner {
    @include center(80%);
    .faqs-box--title {
      text-align: center;
      h2 {
        font-size: 2.5rem;
      }
    }
    .faqs-box--content {
      .content__item {
        background: #f5f7fa;
        padding: 5px 25px;
        margin-bottom: 10px;
        position: relative;
        h3 {
          font-size: 1.125rem;
          font-weight: 500;
        }
        p {
          display: none;
        }
        &:after {
          content: "\f067";
          font-family: "FontAwesome";
          position: absolute;
          top: 18px;
          right: 30px;
        }
        &.active {
          padding: 25px 0;
          &::after {
            display: none;
          }
          h3 {
            font-weight: bold;
          }
          p {
            display: block;
          }
        }
      }
    }
    @media screen and (max-width: 1200px){
      @include center(100%)
    }
  }
}

//dowload-box
.download-box {
  @include section;
  border-top: 1px solid #f4f4f4;
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    @media screen and (max-width: 1024px){
      font-size: 2.4rem;
    }
  }
  .download-box__button {
    margin-top: 40px;
    display: flex;
    a {
      display: block;
      margin-right: 30px;
    }
  }
  .download-box__img {
    position: relative;
    img {
      height: 400px;
      width: auto;
      max-width: unset;
      position: absolute;
      right: 0;
      @media screen and (max-width: 1200px){
        position: static;
        height: auto;
        max-width: 100%;
      }
    }
  }
}
