html{
  font-size: 16px;
}

body{
  font-family: $fontFamily;
  color: $textColor;
  line-height: 1.7625;
}

a{
  text-decoration: none;
  color: $linkColor; 
  &a:hover{
    color: $linkColorHover; 
  }
}

.btn{
  padding: 17px 41px;
  background: $buttonColor;
  color: #fff;
  font-weight: bold;
  border-radius: 99px;
  &:hover{
    color: #fff;
    opacity: 0.8;
  }
  @media screen and (max-width: 1200px){
    padding: 10px 20px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include headding;
}
.align-item {
  align-items: center;
}