//thiết lập transition
@mixin transition($property,$duration){
  transition:$duration ease;
  transition-property: $property;
}
//thiết lập section mặc định
@mixin section{
  padding: 77px 0;
}
@mixin sectionCustom($paddingX,$paddingY) {
  padding: $paddingX $paddingY;
}
@mixin headding {
  color:$primaryColor;
  font-weight: bold;
}
@mixin center($width) {
  width:$width ;
  margin: 0 auto;
}