$primaryColor:#242f51;//!màu chủ đạo chính
$buttonColor:#2500f9;//!màu của các but
$textColor:#616368;//!màu của văn bản
//? color ngữ cảnh
$redColor:#f55767;
$bluColor:#2563ff;
$greenColor:#40975f;

$fontSize:16px; //*font-size màn hình
$fontFamily: 'Poppins', sans-serif;

$linkColor:#242f51;
$linkColorHover:#242f51;